
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    /*inicio del body*/
    /*header*/ 
header nav img{
  width: 3.5rem;
  height: 3rem;
}

    /*ContenidoArticle*/
    .homeArticle{
      display: block;
      /*grid-template-areas:
      'item11 item11 item11'
      'item22 item22 item22'
      'item22 item22 item22';*/
      width: 90%;
      margin-left: 5rem;
    }
    .containerH1{
      margin: 3rem;
    }
    .hH1index{
     /* grid-area: item11;*/
      margin: 3rem;

    }
    .homeSection{
      padding: 2rem;
      /*grid-area: item22;*/
      /*background-color: #415a77;*/
    }
    .hemeP{
      margin-left: 2rem;
      /*grid-area: item3;*/
      
   }
    .articleImg{
      margin-bottom: 5rem;
      margin-left: 10rem;
      /*grid-area: item2;*/
      width: 60rem;
      height: 38rem;
    }

    /*Footer*/
    footer{
      margin-left: 5rem;
      display: grid;
      grid-template-areas: 'item10 item50 item30';
      width: 100%;
    }
    footer ul{
      margin-left: 1rem;
      grid-area: item30;
      text-align: right;
      list-style: none;
    }
    .social-icon img {
      grid-area: item10;
      width: 24px;
      height: 24px;
      margin: 0 10px;
      
    }
    .textoFooter{
      font-weight: bold;
      color: black;
    }
    .enlaceFooter{
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
    /*PagFotos*/
    .carousel-inner{
      max-width: 100%;
     height: 80rem;
    }
    .carousel-inner div img{
      /*max-width: 85%;*/
      max-height: 780px;
      /*margin-left: 11rem;*/
     padding: 5rem;
    }
    .FotosH1{
      margin-top: 0.5rem;
      margin-left: 1rem;
      font-weight: bold;
    }
    /*PaginaBlog*/
    .BlogSection{
      margin: 2rem;
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: flex-start;
      background-color: #303633;
      
    }
    .SectionH1{
      margin-top: 1rem;
      color: #DAFFED;
      margin-left: 1rem;
      text-align: left;
      opacity: none;
    }
    .blogP1{
      opacity: none;
      color: #DAFFED;
    }
    .blogP{
      padding: 0.5rem;
      margin: 1rem;
      color: #DAFFED;
    }
    .blogImg{
      width: 30rem;
      height: 30rem;
      opacity: none;
    }
    .BlogSection hr{
      color: #DAFFED;
    }

    .mapa{
      margin: 5rem;
      align-items: flex-end;
      border-radius: 15%;
      border: 10px;
      border-color: #303633;
    }
    /*PaginaMusica*/
    .MusicDiv{
      margin-left: 8rem;
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 2rem;
    }
    .iframe1{
      margin-right: 1rem;
      width: 40%;
      border-radius: 10%;
    }
    .iframe2{
      width: 40%;
      border-radius: 10%;
    }
    /*.h2{
      grid-area: h2Place;
      
    }
    .musica hr{
      grid-area: hr;
    }
    .p{
      grid-area: Pplace;
    }*/
    .musicaH1{
      text-align: center;
      font-weight: bold;
    }
    /*Artistas*/
    .card{
      /*border: 5px;*/
      border-color: #303633;
      margin: 3rem;
      align-items: end;
    }
    .ArtistasMain{
      margin: 3rem;
    }
    .ArtistasMain p{
      text-align: center;
    }
    .ArtistasMain h1{
      margin: 1rem;
      font-weight: bold;
    }
    @media (max-width:990px){
      /*Index*/
      .homeArticle{
        display: flex;
        flex-direction: column;
      }
      .homeSection{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .articleImg{
        margin-bottom: 5rem;
        width: 60rem;
        height: 38rem;
      }
      .containerH1{
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        margin-left: 38rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 25rem;
      }
      .H1index{
        text-align: center;
        border: 2px solid;
        border-color: #303633;
        border-radius: 10%;
      }
      .homeP{
        width: 75%;
        text-align: center;
        margin-left: 5rem;
      }
      /*Fotos*/
      .FotosH1{
        text-align: center;
      }
      /*Blog*/
      .SectionH1{
        text-align: center;
      }
      .mapa{
        
        margin-left: 10rem;
      }
      /*Artista*/
      .ArtistasMain h1{
        text-align: center;
       
      }
      /*Musica*/
      .MusicDiv{
        display: flex;
        flex-direction: column;
    }
    .iframe1{
      min-width: 70%;
    }
    .iframe2{
      min-width: 70%;
    }
  }