
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    /*inicio del body*/
    /*header*/ 
header nav img{
  width: 3.5rem;
  height: 3rem;
}

    /*ContenidoArticle*/
    .homeArticle{
      display: grid;
      grid-template-columns: 0.3fr 1fr 1fr;
      grid-template-rows: 0.3fr 2fr 1fr;
      grid-template-areas:
      'item11 item11 item11'
      'item22 item22 item22'
      'item22 item22 item22';
      width: 90%;
      margin-left: 5rem;
    }
    .homeH1{
      margin: 2rem;
      grid-area: item11;
    }
    .homeSection{
      grid-area: item22;
      /*background-color: #415a77;*/
    }
    .hemeP{
      /*grid-area: item3;*/
      
   }
    .articleImg{
      margin-bottom: 5rem;
      margin-left: 10rem;
      /*grid-area: item2;*/
      width: 60rem;
      height: 38rem;
    }

    /*Footer*/
    footer{
      display: grid;
      grid-template-columns: 1.5fr 2.5fr 1fr;
      grid-template-areas: 'item10 item20 item30';
      width: 100%;
    }
    footer ul{
      grid-area: item30;
      text-align: right;
      list-style: none;
    }
    .social-icon img {
      grid-area: item10;
      width: 24px;
      height: 24px;
      margin: 0 10px;
      
    }
    /*PagFotos*/
    .carousel-inner{
      max-width: 100%;
     height: 80rem;
    }
    .carousel-inner div img{
      /*max-width: 85%;*/
      max-height: 780px;
      /*margin-left: 11rem;*/
     padding: 5rem;
    }
    /*PaginaBlog*/
    .BlogSection{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      'item02 item02 item02'
      'item03 item03 item03'
      'item04 item04 item04';

    }
    .SectionH1{
      grid-area: item02;
    }
    .blogP1{
      grid-area: item02;
    }
    /*PaginaMusica*/
    section.musica{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 0.5fr 0.5fr;
      grid-template-areas: 
      'item1 item2'
      'item3 item3'
      'item4 item4';
    }
    .item1{
      grid-area: item1;
      padding: 1rem;
    }
    .item2{
      padding: 1rem;
      grid-area: item2;
    }
    .item3{
      grid-area: item3;
    }
    .item4{
      grid-area: item4;
    }
    .musicaH1{
      text-align: center;
    }
    @media screen and (max-width:767px){
      /*Musica*/
      section.muscica: 
            display: flex;
    }
