 /*Artistas*/
 .card{
    border-color: #303633;
    margin: 3rem;
    align-items: end;
  }
  .ArtistasMain{
    margin: 3rem;
        .ArtistasMain p{
            text-align: center;
        }
        .ArtistasMain h1{
           margin: 1rem;
           font-weight: bold;
        }
         
  }
