/*ContenidoArticle*/
    .homeArticle{
        width: 90%;
        margin-left: 5rem;
            .H1index{
                margin: 3rem;
                font-weight: bolder;
            }
            .homeSection{
                padding: 2rem;
            }
            .hemeP{
                text-align: left;
                 margin-left: 2rem;
            }  
            .articleImg{
                margin: 10%;
                width: 65%;
                height: 38rem;
            }
      }
    .ContainerH1{
        margin: 3rem;
        font-weight: bold;
    }