/*ContenidoArticle*/
    .homeArticle{
        display: block;
        width: 90%;
        margin-left: 5rem;
            .H1index{
                margin: 3rem;
                font-weight: bold;
            }
            .homeSection{
                padding: 2rem;
            }
            .hemeP{
                 margin-left: 2rem;
            }  
            .articleImg{
                margin-bottom: 5rem;
                margin-left: 10rem;
                width: 60rem;
                height: 38rem;
            }
      }
    .ContainerH1{
        margin: 3rem;
    }