@media (max-width:480px){
        
  footer{
    width: 90%;
  }
    /*Index*/
  div.ContainerH1{
    width: 90%;
      h1{
        text-align: center;
      }

  }
  article.homeArticle{
      section.homeSection{
         padding: 5%;
         display: flex;
         flex-direction: column;
              p.homeP{
                width: 75%;
                text-align: center;
                margin-left: 5rem;
              }
              img.articleImg{
              margin-bottom: 5rem;
              width: 35%;
              height: 35rem;
              }
      }


  }


    /*Fotos*/
  .FotosH1{
      text-align: center;
    }


    /*Blog*/
    .SectionH1{
      width: 100%;
      height: 20%;
        h1{
          text-align: center;
        }

    }
    .blogP1{
      text-align: center;
      margin: 2rem;
    }
    .blogImg{
      border-radius: 10%;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    .mapa{
      width: 8rem;
      height: 8rem;
      margin-left: 1rem;
    }

    /*Artista*/
    .ArtistasMain h1{
      text-align: center;
    }

    /*Musica*/
    section{
          div{
            iframe{
              width: 55%;
              height: 40rem;
            }
          }
    }

}